* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  font-family: "Protest Riot", sans-serif;
}

.assets {
  display: none;
}

#restart {
  display: none;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 10%;
  width: 16rem;
  margin-left: -8rem;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid black;
  background-color: aliceblue;
  border-radius: 20px;
  font-family: "Protest Riot", sans-serif;
  font-size: 20px;
  cursor: pointer;
}
